In [1]:
import pandas as pd
train = pd.read_csv('train_E6oV3lV.csv')

In [2]:
#1. BASIC FEATURE EXTRACTION
#(1.1)
#extracting number of words in each tweet
#negative sentiments generally have less number of words
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [3]:
#(1.2)
#number of characters in each tweet
#using length of the tweet
train['char_count'] = train['tweet'].str.len() ## this also includes spaces
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [4]:
#(1.3)
#average length of the tweet
#sum of length of all the words/the total length of the tweet
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [5]:
#(1.4)
#number of stopwords
#sometimes calculating the number of stopwords can also give us some extra information which we might have been losing before
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [6]:
#(1.5)
#calculating the number of hashtags or mentions present in it
#helps in extracting extra information from our text data
#using ‘starts with’ function because hashtags (or mentions) always appear at the beginning of a word
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet','hastags']].head()

                                               tweet  hastags
0   @user when a father is dysfunctional and is s...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

In [7]:
#(1.6)
#calculating number of numerics
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [8]:
#(1.7)
#number of uppercase words
#Anger or rage is often expressed by writing in UPPERCASE words 
#which makes this a necessary operation to identify those words
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

In [9]:
#2. BASIC PRE-PROCESSING
#(2.1) Lowercase - transforming data to lowercase
#helps avoid having multiple copies of the same word(careful with Apple and apple)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [10]:
#(2.2) Remove punctuations (since it doesnt add any extra information)
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [11]:
#(2.3) remove stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [12]:
#(2.4) Common Word Removal
#let’s check the 10 most frequently occurring words in our text data
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]

In [13]:
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [14]:
#take call to remove
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [15]:
#(2.5) Rare word Removal
#Because they’re so rare, the association between them and other words is dominated by noise
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]

In [16]:
freq

onðð                    1
spencer                 1
maytheforcebewithyou    1
learningâ               1
pfyp                    1
thehuntingpay           1
getityourself           1
robben                  1
basquetball             1
160                     1
dtype: int64

In [17]:
#take call to remove rare words
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [19]:
#(2.6) Spelling Correction
#to reduce multiple copies of words
#eg. “Analytics” and “analytcs” will be treated as different words even if they are used in the same sense
#achieved using textblob library
from textblob import TextBlob
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))
#it is time-consuming
#Therefore, just for the purposes of learning, applying it on only the first 5 rows
#Not always accurate
#Words are often used in their abbreviated form
#eg.‘your’ is used as ‘ur’ but using this tramsforms it to 'or' instead

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [20]:
#(2.7) tokenization
#Conversion into words or sentences
#textblob library to first transform our tweets into a blob and then converted them into a series of words
TextBlob(train['tweet'][1]).words

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [21]:
#(2.8) Stemming
#Conversion into root words
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [22]:
#(2.9) Lemmatization
# converts the word into its root word, rather than just stripping the suffices
# makes use of the vocabulary and does a morphological analysis to obtain the root word
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [23]:
#3 ADVANCED TEXT PROCESSING - extracting features
#(3.1) N-Grams
#Extracting bigrams
TextBlob(train['tweet'][0]).ngrams(2)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [24]:
#(3.2) Term Frequency
#TF = (Number of times term T appears in the particular row) / (number of terms in that row)
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']

In [25]:
tf1

          words  tf
0        thanks   1
1           pdx   1
2        credit   1
3    wheelchair   1
4          cant   1
5          dont   1
6           use   1
7           van   1
8          lyft   1
9         cause   1
10        offer   1
11  disapointed   1
12   getthanked   1

In [30]:
#(3.3) IDF Inverse Document Frequency
#A word is not of much use to us if it’s appearing in all the documents
#Therefore, IDF of each word is log of (total number of rows)/(number of rows in which that word is present)
#IDF = log(N/n), 
#where, N is the total number of rows, n is the number of rows in which the word was present
import numpy as np
for i,word in enumerate(tf1['words']):
    tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))

In [31]:
tf1
#higher value of idf indicates how unique the word is

          words  tf        idf
0        thanks   1   4.597751
1           pdx   1   8.762865
2        credit   1   7.327781
3    wheelchair   1   9.273691
4          cant   1   3.538194
5          dont   1   3.745585
6           use   1   3.552287
7           van   1   5.236505
8          lyft   1   8.762865
9         cause   1   5.690172
10        offer   1   6.522155
11  disapointed   1  10.372303
12   getthanked   1   9.679156

In [32]:
#(3.4)Term Frequency – Inverse Document Frequency = (TF)*(IDF)
#penalises commonly occuring words
#gives high weight to words like 'disappointed' because they help in determining the sentiment of the tweet
#instead of using this: 
#tf1['tfidf'] = tf1['tf'] * tf1['idf']
#tf1, sklearn package can directly be used
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['tweet'])

In [33]:
train_vect
#pre-processing steps like lower-casing and removal of stopwords can also be performed before this

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 114036 stored elements in Compressed Sparse Row format>

In [34]:
#(3.5)Bag of Words
#refers to representation of text which describes the presence of words within the text data
#two similar text fields will contain similar kind of words, and will therefore have a similar bag of word
#from the text alone we can learn something about the meaning of the document
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['tweet'])

In [35]:
train_bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 128386 stored elements in Compressed Sparse Row format>

In [36]:
#(3.6.i) Checking the sentiment of first few tweets
train['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)
#Here, we only extract polarity
#indicated: value nearer to 1 = positive sentiment and values nearer to -1 = negative sentiment

0    (-0.3, 0.5354166666666667)
1                    (0.2, 0.2)
2                    (0.0, 0.0)
3                    (0.0, 0.0)
4                    (0.0, 0.0)
Name: tweet, dtype: object

In [37]:
#using above idea as a feature for building a machine learning model
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['tweet','sentiment']].head()

                                               tweet  sentiment
0  father dysfunctional selfish drag kid dysfunct...       -0.3
1  thanks lyft credit cant use cause dont offer w...        0.2
2                                     bihday majesty        0.0
3                            model take urð ðððð ððð        0.0
4                      factsguide society motivation        0.0

In [38]:
#(3.7) Word Embeddings
#representation of text in the form of vectors
#similar words will have a minimum distance between their vectors
from gensim.scripts.glove2word2vec import glove2word2vec
glove_input_file = 'glove.840B.300d.txt'
word2vec_output_file = 'glove.840B.300d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)

(2196017, 300)

In [39]:
#loading the above file as a model
from gensim.models import KeyedVectors # load the Stanford GloVe model
filename = 'glove.840B.300d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary=False)

In [40]:
model['go']

array([  1.38929993e-01,  -1.90559998e-02,  -3.38910013e-01,
         1.21509999e-01,   3.65229994e-01,  -1.73910007e-01,
        -2.67350003e-02,  -5.03350012e-02,   2.47429997e-01,
         2.45309997e+00,  -4.21130002e-01,   2.36320004e-01,
         2.05129996e-01,  -1.09369997e-02,  -1.14799999e-01,
        -3.76479998e-02,  -1.34399995e-01,   8.61240029e-01,
        -3.58029991e-01,   9.25249979e-02,   2.80750006e-01,
         1.36490002e-01,   2.08189994e-01,   6.02059998e-02,
        -1.82290003e-01,   1.01719998e-01,  -1.31999999e-01,
        -3.15979987e-01,   2.22409993e-01,  -1.90760002e-01,
        -1.08840000e-02,   1.69880003e-01,   8.03450029e-03,
         1.33369997e-01,   1.77239999e-01,  -1.91620007e-01,
         3.36809993e-01,   3.01860005e-01,   6.16540015e-02,
         7.69060012e-03,  -5.44059992e-01,   5.01420014e-02,
        -4.31150012e-02,  -2.62410015e-01,   4.74620014e-02,
         3.36699992e-01,  -2.86489993e-01,  -2.74140000e-01,
         2.67760009e-02,  -6.59390017e-02,   1.10210001e-01,
         2.88690001e-01,   4.67119992e-01,   1.20630004e-01,
         3.38310003e-01,  -3.04270012e-04,  -1.21160001e-01,
        -1.58999994e-01,  -1.05140001e-01,  -3.85599993e-02,
        -6.22050017e-02,   3.56310010e-02,  -1.78519994e-01,
        -1.33080006e-01,   2.61029989e-01,  -1.10820003e-01,
        -2.74630010e-01,   1.85560003e-01,   4.52569991e-01,
         3.03359985e-01,   6.18010014e-02,   7.73100033e-02,
         3.46450001e-01,   3.65260011e-03,   4.68149990e-01,
         2.02280004e-02,  -2.55089998e-02,  -1.94649994e-02,
        -5.39979991e-03,   8.64970013e-02,  -5.30989990e-02,
        -8.64259973e-02,  -4.69130009e-01,   6.57880008e-02,
        -1.27200007e-01,  -2.42540002e-01,   2.41490006e-01,
        -3.76839995e-01,   6.57069981e-01,   1.41059995e-01,
        -2.10800007e-01,   1.10950001e-01,   1.27409995e-01,
        -2.89380014e-01,  -7.52950013e-02,   4.41090018e-02,
         5.42800017e-02,  -2.96660006e-01,   1.64230000e-02,
         4.40860018e-02,   7.28619993e-02,  -3.01490009e-01,
         3.46129984e-02,   8.67310017e-02,   3.10909986e-01,
        -3.71560007e-01,   1.73820004e-01,   2.19960004e-01,
         6.03119992e-02,   1.67669997e-01,   3.84690017e-02,
        -6.32309973e-01,   3.23309988e-01,   1.04209997e-01,
         2.50800014e-01,   2.62670010e-01,   1.78819999e-01,
        -2.45150000e-01,  -1.72140002e-01,   2.83190012e-01,
         6.55980036e-02,  -4.43859994e-02,   3.70640010e-02,
         4.50179987e-02,   3.93669993e-01,  -1.35800004e-01,
        -4.60209996e-02,   2.32600003e-01,   3.41559984e-02,
         8.48380029e-02,   3.80560011e-02,  -3.46589996e-03,
        -6.81769997e-02,   8.26060027e-02,   1.58109993e-01,
        -1.93880007e-01,   6.12469986e-02,  -3.42819989e-01,
        -2.33919993e-01,   9.11310017e-02,  -2.09340000e+00,
         1.38150007e-01,   1.75970003e-01,  -3.80050004e-01,
         2.46900007e-01,  -2.24820003e-01,  -5.94150014e-02,
         4.24149990e-01,  -1.37679994e-01,  -6.41840026e-02,
        -6.32300004e-02,   1.02279998e-01,   3.96619998e-02,
        -2.89099991e-01,   8.02420005e-02,  -4.28539991e-01,
         1.04740001e-01,  -1.40699998e-01,  -5.04200011e-02,
        -1.34859994e-01,  -1.30769998e-01,  -1.15599997e-01,
        -3.76480013e-01,   1.44670000e-02,   2.84000002e-02,
        -1.49210006e-01,   2.90289998e-01,  -9.91630033e-02,
         2.29670003e-01,   4.97170016e-02,  -2.43450001e-01,
         2.77219992e-02,   7.40550011e-02,  -4.25790012e-01,
         1.67239994e-01,   6.54689968e-02,   7.75709972e-02,
         2.15289995e-01,  -7.13300034e-02,  -5.27420007e-02,
         1.20800003e-01,  -5.65030016e-02,  -3.58520001e-01,
        -8.56409967e-02,   5.33640027e-01,   1.81889996e-01,
        -1.78870007e-01,  -2.01000005e-01,   4.36549991e-01,
         1.79120004e-01,   2.22379994e-02,  -4.84910011e-02,
        -8.83470029e-02,  -1.75439999e-01,  -1.70519993e-01,
         2.75779992e-01,  -2.76289999e-01,  -5.60300015e-02,
         3.04159999e-01,   4.51150000e-01,   6.84399977e-02,
        -1.59260005e-01,  -2.71970004e-01,  -2.26280000e-02,
         3.45670015e-01,  -8.86219963e-02,   1.93580002e-01,
        -4.16529998e-02,   4.16610003e-01,   1.08479999e-01,
        -6.97520003e-02,  -2.37489998e-01,  -1.85110003e-01,
         8.85349978e-03,  -1.27729997e-01,  -8.28019977e-02,
         4.57939990e-02,   3.35539997e-01,  -3.06439996e-01,
         4.41709995e-01,   1.59750000e-01,  -1.27560003e-02,
        -2.69719988e-01,  -7.89770037e-02,  -4.82640006e-02,
        -6.59620017e-02,  -3.00060004e-01,   1.04400001e-01,
        -1.27149999e-01,  -1.44880004e-02,  -3.51069987e-01,
        -1.14069998e-01,   6.63429976e-01,   1.65889993e-01,
         1.50400000e-02,  -8.32489971e-03,   1.38349999e-02,
        -1.95999995e-01,  -3.61299999e-02,   2.03370005e-01,
         1.18220001e-01,   1.47599995e-01,  -3.90740000e-02,
         2.46189997e-01,  -9.62800011e-02,  -2.27190003e-01,
        -2.25970000e-01,   1.92359999e-01,  -4.13619995e-01,
         3.78210008e-01,   2.81140000e-01,  -7.82319978e-02,
        -2.48520002e-01,   8.49779993e-02,   4.56800014e-01,
         4.78179991e-01,  -7.21919984e-02,  -2.24409997e-01,
        -2.57129997e-01,   1.18199997e-01,   1.80280000e-01,
         5.11810005e-01,   4.09040004e-01,  -2.43039995e-01,
         4.90900010e-01,  -3.97069991e-01,  -5.19630015e-02,
         1.78180002e-02,   2.51599997e-01,   2.82900006e-01,
         2.27760002e-01,  -2.58439988e-01,   1.42810002e-01,
        -7.26070032e-02,   1.51940003e-01,   2.53089994e-01,
         4.72319983e-02,   2.59050012e-01,  -9.33130011e-02,
         1.12259999e-01,  -1.74490005e-01,  -3.48960012e-01,
        -2.01450005e-01,   1.16279997e-01,  -1.07689999e-01,
        -7.85280019e-02,   9.30960029e-02,  -1.65390000e-01,
         4.39939983e-02,   5.96980006e-02,  -1.30469993e-01,
         7.21469969e-02,   3.36629990e-03,  -1.81810006e-01,
         3.14650014e-02,  -3.53510007e-02,  -4.79120016e-03,
         9.27530006e-02,   2.86179990e-01,   1.36460006e-01], dtype=float32)

In [41]:
model['away']

array([  3.53040010e-01,   1.03629999e-01,  -2.32190005e-02,
         1.69939995e-01,   2.22729996e-01,  -2.68660009e-01,
        -4.60290015e-01,  -1.61709994e-01,  -2.63289995e-02,
         2.92149997e+00,   4.22010012e-02,   3.83540004e-01,
        -9.18510035e-02,  -2.02150002e-01,  -1.59960002e-01,
        -2.67069995e-01,  -2.30960008e-02,   7.17239976e-01,
        -1.53679997e-01,   1.96669996e-01,   9.34500024e-02,
         2.24309996e-01,  -4.59459983e-02,   2.05160007e-01,
         4.52539995e-02,  -6.43279999e-02,  -6.82540014e-02,
        -2.39140004e-01,  -9.19890031e-02,  -3.15789990e-02,
        -4.46229987e-02,   2.67910004e-01,  -7.01160014e-01,
        -1.12760000e-01,   2.36560002e-01,  -6.27140030e-02,
        -8.37529972e-02,   2.97930002e-01,   7.55629987e-02,
         1.89549997e-01,   9.14330035e-03,  -1.26230001e-01,
        -2.27799997e-01,  -6.04370013e-02,   1.51380002e-01,
         5.64199984e-02,  -3.10369998e-01,  -2.93850005e-01,
        -5.61200023e-01,   1.13899998e-01,   6.83450028e-02,
         1.46280006e-01,  -1.48069993e-01,   5.79009987e-02,
         3.90349999e-02,   9.54219997e-02,   2.78689992e-02,
         1.09090000e-01,   7.58550018e-02,  -5.40350005e-02,
         1.49880007e-01,  -4.92869988e-02,  -1.46709997e-02,
        -1.24250002e-01,   1.52209997e-01,  -4.80119996e-02,
        -4.07820009e-02,   1.72110006e-01,   5.25059998e-01,
         1.99790001e-01,   1.05949998e-01,   2.48649999e-01,
         3.28209996e-01,   7.29990005e-02,  -1.47320002e-01,
        -6.59909993e-02,   4.48689997e-01,  -7.26400018e-02,
         2.57829994e-01,  -6.03279984e-03,   1.87619999e-01,
         1.51099995e-01,  -1.05209999e-01,  -5.24209976e-01,
        -2.18559995e-01,  -8.29429999e-02,   2.06819996e-01,
        -1.66510001e-01,   4.31600004e-01,   3.36510018e-02,
        -8.46389979e-02,   9.97549966e-02,  -1.73790008e-02,
        -2.41500005e-01,   1.30400002e-01,   1.53540000e-01,
        -1.36110000e-02,  -1.48460001e-01,  -3.33880007e-01,
        -1.51690006e-01,   3.72040004e-01,  -2.09260010e-03,
        -4.14970011e-01,   4.34780009e-02,   7.23629966e-02,
        -6.37390018e-01,   4.17959988e-01,   4.47439998e-01,
        -2.63880007e-02,   4.53610010e-02,   2.30460003e-01,
        -3.11379999e-01,   6.23020008e-02,   2.26380005e-02,
         3.17450017e-02,  -6.02429993e-02,  -1.69620007e-01,
         1.96429998e-01,  -9.02459994e-02,   3.26570004e-01,
         1.57680005e-01,  -3.19380015e-02,   2.45419994e-01,
        -1.81009993e-01,  -8.85109976e-02,  -5.90430014e-02,
        -1.68329999e-01,   2.10679993e-01,   1.36700004e-01,
        -2.49730004e-03,  -2.13919997e-01,  -1.45600006e-01,
         1.24420002e-02,  -1.34090006e-01,   1.14100002e-01,
        -1.21080004e-01,  -1.19970001e-01,   3.21339995e-01,
         5.51539995e-02,   1.11720003e-01,  -1.80400002e+00,
         6.65840030e-01,   2.04349995e-01,  -2.01040000e-01,
         2.92070001e-01,   1.92629993e-01,  -3.04360002e-01,
         3.06650013e-01,   2.90470004e-01,   2.35139996e-01,
         2.47940004e-01,  -1.53589994e-01,   2.18219995e-01,
        -3.35970014e-01,  -2.39720002e-01,  -1.57979995e-01,
         1.18170001e-01,   2.29179993e-01,  -2.73759998e-02,
        -1.55650005e-01,  -9.90649965e-03,  -2.67140001e-01,
         8.36540014e-02,   1.72749996e-01,   3.46049994e-01,
         4.53649983e-02,  -8.78039971e-02,  -3.18549983e-02,
         1.55279994e-01,   8.54289979e-02,   6.81580007e-02,
        -2.93550014e-01,  -3.24600011e-01,  -4.90029991e-01,
        -1.67480007e-01,   1.70959998e-02,  -1.06640002e-02,
        -1.12700000e-01,  -1.78180002e-02,  -1.43660000e-02,
         1.46380007e-01,  -5.23949981e-01,   2.97390014e-01,
        -2.11270005e-01,   3.82290006e-01,  -5.60990013e-02,
        -2.80479997e-01,  -1.22249998e-01,   4.88359988e-01,
         2.47419998e-01,   2.35750005e-01,  -2.05359995e-01,
        -5.97640015e-02,  -8.97480026e-02,   1.04839997e-02,
         4.69980016e-02,  -2.75799990e-01,  -3.23509991e-01,
        -1.80710003e-01,   3.77429992e-01,  -9.58999991e-02,
        -1.81569993e-01,  -1.28270000e-01,   1.62700005e-03,
         2.12730005e-01,   7.01900005e-01,   2.25439996e-01,
        -3.72099996e-01,  -5.00020012e-02,  -5.51829994e-01,
         2.88490001e-02,  -6.16729975e-01,   3.92239988e-02,
        -1.53940003e-02,   2.17710003e-01,  -1.68909997e-01,
         3.58130008e-01,   1.19670004e-01,  -2.21729994e-01,
         1.59669995e-01,  -1.25599995e-01,  -1.18790001e-01,
        -2.83289999e-01,  -1.38600007e-01,  -4.14490014e-01,
        -4.85570014e-01,  -7.80870020e-02,   2.91610003e-01,
        -2.19459996e-01,  -2.26119999e-02,   2.51329988e-01,
         1.32540002e-01,   5.11449993e-01,  -9.34090000e-03,
         8.94730017e-02,  -2.72259992e-02,   3.69630009e-01,
        -3.54529992e-02,  -3.42810005e-01,   2.03910004e-02,
         2.39150003e-01,   6.66270033e-02,  -1.12800002e-01,
         4.85089988e-01,  -1.48330003e-01,  -1.99579999e-01,
        -4.63539988e-01,  -4.65399995e-02,  -3.03860009e-01,
         3.56110007e-01,  -2.69309998e-01,  -2.60989994e-01,
         1.63680002e-01,   7.38710016e-02,   1.54170007e-01,
         6.35730028e-01,  -2.00320005e-01,  -3.72090012e-01,
         2.95969993e-02,   2.89310008e-01,  -2.65009999e-01,
         3.01589996e-01,   4.38589990e-01,  -1.82870001e-01,
         6.02010012e-01,   7.08969980e-02,  -2.52620012e-01,
        -2.92219996e-01,  -5.41630030e-01,  -2.97069997e-01,
         5.68990000e-02,  -2.98079997e-01,  -4.02589999e-02,
        -6.35770023e-01,   2.04260007e-01,   9.67099965e-02,
         3.30350012e-01,   2.17329994e-01,  -4.53799993e-01,
         9.49640016e-05,  -1.71729997e-01,  -8.68630037e-02,
        -1.18699998e-01,  -1.60540000e-01,  -7.88519979e-02,
        -1.68880001e-01,   5.22530004e-02,  -3.05469990e-01,
         2.10859999e-03,  -1.69850007e-01,  -2.30959997e-01,
         6.92310035e-02,  -1.09900003e-02,   8.55799988e-02,
         2.35200003e-01,   6.46380037e-02,  -3.36949993e-03,
         3.15200001e-01,  -1.10349998e-01,  -5.21680005e-02], dtype=float32)